body {
  margin: 0%;
  padding: 0%;
}

.primary-color {
  color: white;
  font-family: 'Rambla';
}

.text {
  color: white;
  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 162.6%;
  text-align: center;
  letter-spacing: 0.1em;
}

.header {
  height: 747px;
  width: 100%;
  /* width: auto; */
  background: radial-gradient(
    87.74% 87.74% at 50% 50%,
    #06062b 77.6%,
    rgba(6, 6, 43, 0) 100%
  );
  /* overflow: hidden; */
}

.header nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
}

.navLeft {
  grid-column: 2;
}

.navRight {
  grid-column: 4;
  /* width: max-content; */
  justify-self: end;
}

.navRight > img {
  padding-left: 15px;
}

section {
  font-family: 'Rambla', sans-serif;
  color: white;
}

span {
  font-family: 'rambla';
  color: #f5c514;
}

button {
  /* update CSS */
  width: 121px;
  height: 36px;
  font-family: 'rambla';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #f5c514;
  border-radius: 10px;
  border: none;

  /* text-decoration: none; */
}

.intro-section {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  position: relative;
  height: 500px;
}

.left_Img {
  position: absolute;
  width: 721px;
  height: 462px;
  /* float: right; */
  /* left: 663px; */
  /* top: 240px; */
  background: url(./img/planet_4x\ 2.png) no-repeat;
  grid-column: 3/5;
}
/* Section2 ABOUT */
.sec2 {
  height: 433px;
  width: auto;
  background: #10103c;
}
.desc {
  /* position: absolute; */
  width: 483.71px;
  height: 223.55px;
  float: right;
  margin-right: 150px;
}

.img_2 {
  position: absolute;
  width: 397px;
  height: 304px;
  left: 178px;
  margin-top: 70px;
  /* left: 598px;
  top: 812px; */
  background: url('./img/47a9eebd72590f559e3193302adea83c\ 1.jpg');
  border-radius: 90px;
  transform: matrix(0, 0, 1, 0, 0);
}

.sec3 {
  height: 1143px;
  background: #06062b;
}
.secs {
  position: absolute;
  width: 483.71px;
  height: 223.55px;
  left: 751.29px;
  top: 892.45px;

  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.box {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.singleBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 285px;
  height: 394px;
  border-radius: 10px;
  background-color: #f5c514;
  margin: 20px;
  /* padding: 20px; */
  text-align: center;
}
.singleBox:hover {
  background-color: #473397;
  color: white;
  transition: 2;
}

.boxImg {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  padding: 20px;
  background-size: cover;
  background-position: center;
}

.singleBox:nth-child(1) .boxImg {
  background-image: url(./img/skill1.svg);
}
.singleBox:nth-child(2) .boxImg {
  background-image: url(./img/skill2.svg);
}
.singleBox:nth-child(3) .boxImg {
  background-image: url(./img/skills3.svg);
}
.singleBox:nth-child(4) .boxImg {
  background-image: url(./img/skill4.svg);
}
.singleBox:nth-child(5) .boxImg {
  background-image: url(./img/skills5.svg);
}

.header_text {
  font-family: 'rambla';
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
}

li {
  font-family: 'rambla';
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  /* line-height: 30px; */
}

.sec4 {
  height: 806px;
  background: #160944;
}

.buttonsOP {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonsOP > button {
  margin-right: 100px;
}

.design {
  background-image: url('./img/design.png');
  position: absolute;
  /* overflow: hidden; */
  width: 1056px;
  height: 538px;
  margin-top: 80px;
  left: 178px;
}

.container {
  position: absolute;
  margin-top: 120px;
  padding: 20px;

  /* height: max-content; */
  align-items: center;
  justify-content: center;
  display: grid;
  left: 370px;
  grid-template-columns: repeat(2, 340px);
  grid-template-rows: repeat(1, 180px);
  background-color: #170556;
}

.conBox {
  padding-left: 15px;
  width: 230px;
  align-items: center;
  justify-content: center;
}

.sec5 {
  background: #06062b;
  height: 560px;
  /* display: flex; */
}

.content {
  display: flex;
}
.sec6 {
  height: 380px;
  background: #171740;
}

.Footer {
  height: 488px;
  background: #120939;
}

.lastPic {
  float: right;
}
